@page "/placementTest/brief/{studentId}"
@inject HttpClient Http
@inject NavigationManager navigationManager
@layout MainLayout

<div class="d-flex align-items-center flex-column justify-content-center fs-5">
	<img class="logo mx-3" src="././images/Logo2.png">
	<p class="mx-xxl-5">
		This placement test comes from <span class="fw-bold">
			m The National Geographic Learning and English Language
			Teaching.
		</span>
		g. The nature of the questions was revised by Mr. Mamdouh Farwati, BA in English
		Language and Literature and MSc in Management and Leadership, to ensure that the content
		assesses the students’ knowledge in today’s use of English.
	</p>
	<h5>Placement Test</h5>
	<p class="mx-xxl-5">
		The Placement Test consists of 50 items testing grammar and vocabulary. The test focuses on
		contemporary and global content to reflect English as it is used in the real-world.
	</p>
	<h5>Writing Placement Test</h5>
	<p class="mx-xxl-5">
		A separate Writing Placement Test is included. Students are asked to select a writing task and
		complete the task using the prompts provided in the rubric.
	</p>
	<h5>Oral Placement Test</h5>
	<p class="mx-xxl-5">
		A separate Oral Placement Test is included. This test consists of an interview based on
		conversational prompts to be presented by the interviewer.
	</p>
	<button type="submit" class="btn btn-primary m-2 w-25" @onclick="@Start">Let's Start</button>
</div>


@code {
	[Parameter]
	public string studentId { get; set; }
	private async Task Start()
	{
		navigationManager.NavigateTo($"/placementTest/personal-data/{studentId}");
	}
}
