@page "/placementTest/end"
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@layout MainLayout

	<div class="paper m-xxl-4">
		<p class="fs-4 fw-bolder">Placement Test End.</p>
		<p class="fs-4 fw-bolder">Welcome To Ousos Company</p>
		<img src="./images/Logo2.png">
	</div>
@code {

}
