.title {
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
}

.answers {
    display: flex;
    align-items: center;
}

.paper {
    height: 90%;
    display: flex;
    justify-content: center;
}

.answer {
    margin: 0px 40px 0px 0px;
}
